# Compiled class files
*.class

# Log files
*.log

# SBT-specific files and directories
target/
project/target/
project/project/

# IntelliJ IDEA or Eclipse files (if using these IDEs)
.idea/
*.iml
.classpath
.project
.settings/

# Scala REPL history
.worksheet/

# System files
.DS_Store
Thumbs.db

# Temporary or backup files
*.tmp
*.bak
*.swp
*.swo
